<!DOCTYPE html>
<html>
    <header>
        <title>Review Submitted</title>
        <%- include('./styles'); %>
    </header>
    <body class="main-container">
        <div class="inner">
        <div>
            <a href="/movies" class="back-btn">Back</a>
        </div>
        <div class="box">
            <h1 class="box-header">You have submitted your review for <%- movieTitle -%>. You can access this review through <a href="/myReviews?email=<%- email %>">My Reviews</a>.</h1>
        </div>
    </div>
    </body>
</html>

<style>
.main-container {
    background-color: var(--movie-blue);
    padding-top: 20px;
    padding-bottom: 20px;
}

.back-btn, .back-btn:visited {
    font-family: "Limelight", "Times New Roman", serif;
    text-decoration-line: none;
    color: black;
    padding-left: 30px;
    font-size: 2rem;
}

.inner {
    
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--movie-white);
    width: 75%;
    height: fit-content;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#box-header {
    text-align: center;
}
</style>