<!DOCTYPE html>
<html>
  <header>
    <title>Movie Review Form</title>
    <%- include('./styles'); %>
  </header>
  <body>
    <script>
      function validateForm() {
        const email = document.getElementById("emailInput").value;
        if (email === "") {
          alert("Enter in a valid email");
          return false;
        }

        return true;
      }
    </script>
    <div class="main-container">
      <h1>Moviesss</h1>
      <form
        id="form"
        action="/signup"
        method="post"
        onsubmit="return validateForm()"
      >
        <div class="form-container">
          <div class="input">
            <p>Enter Your Email</p>
            <input id="emailInput" type="email" name="email" />
          </div>
          <div class="btn-container">
            <button id="signup" type="submit">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>

<style>
  body {
    background-color: var(--movie-blue);
    display: flex;
    text-align: center;
  }

  .main-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container h1 {
    font-size: 5rem;
    width: 550px;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .input {
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .input p {
    margin: 0;
    padding: 0 0 5px 7px;
  }

  .input input {
    font-family: "Montserrat";
    font-size: 2rem;
    width: 95%;
    height: 75px;
    border-radius: 15px;
    margin-bottom: 100px;
    padding-left: 10px;
  }

  .btn-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-container button {
    font-family: "Limelight", "Times New Roman", serif;
    border-radius: 15px;
    border-style: none;
    height: 50px;
    padding: 5px;
    cursor: pointer;
    width: 150px;
    font-size: 1.5rem;
  }

  #signup {
    background-color: var(--movie-dark-purple);
    color: var(--movie-white);
  }
</style>
